{% ckan_extends %}


{% block primary_content %}
<div class="hero">
    <div class="hero-main">
        <div class="container">
            <h1>NEXT GENERATION DATA <br /> INCUBATOR</h1>
        </div>
        <div class="container btn-main-container">
            <!-- <a class="btn btn-primary btn-main" type="button" href="https://www.reach-incubator.eu/open-calls/startups/">OPEN CALL</a>
            <a class="btn btn-primary btn-main" type="button" href="/dataset">DATASETS</a>-->
            <p class="reach-white-text">
                Thank you for being a part of our journey!
                <br />
                We are thrilled to announce the successful conclusion of REACH Incubator.
            </p>
        </div>
    </div>
</div>
<div class="hero reach-desc">
    <div class="hero-main reach-main">
        <div class="container">
            <h1>REACH Incubator</h1>
            <!-- <p class="reach-gray-text">
                To take a leading position on Data Economy, Europe is placing focus on breaking "data silos", and accessing, sharing and reusing data,
                still ensuring that this happens in a secured and trusted manner.
                <br />
                For that, the European Commission is supporting pilot projects and innovation spaces to allow experimentation on cross-sector 
                multi-stakeholder data innovation. 
            </p> -->
            <p class="reach-gray-text">
                To take a leading position on Data Economy, Europe is placing focus on breaking “data silos”, and accessing, sharing and reusing data, 
                still ensuring that this happens in a secured and trusted manner. For that, the European Commission is supporting pilot projects and 
                innovation spaces to allow experimentation on cross-sector multi-stakeholder data innovation.
            </p>

            <p class="reach-green-text">
                REACH positioned itself as the primary innovation catalyst, fostering secure and trusted data value chains across diverse sectors 
                and introducing cutting-edge data-driven products and services to the market. Harnessing the capabilities of Europe’s premier 
                data-driven Digital Innovation Hubs (DIHs), REACH has supported over <b>100 SME business ideas, distributing a total of €3.5M.</b>
            </p>
            <p class="reach-gray-text">
                The overarching goal of REACH was to demonstrate the dismantling of Data Silos by facilitating a multi-stakeholder, 
                cross-sectorial incubator that propels sustainable, data-driven solutions.
            </p>
            <p class="reach-green-text">
                More information at <a href="https://www.reach-incubator.eu/">REACH Incubator website</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
