.masthead {
    background: none;
    padding-bottom: 1%;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background-color: rgb(0 0 0 / 0%);
}
.account-masthead {
    background: none;
}
.account-masthead .account .notifications a span.badge,
.account-masthead .account ul li a {
    color: #ffffff;
    background-color: rgb(0 0 0 / 0%);
}
.account-masthead .account ul li {
    border-left: none;
}

.hero {
    background: none;
    text-align: center;
}

.hero h1 {
    color: #15cec0;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    letter-spacing: 0.3em;
}

.hero-main {
    padding-top: 10%;
    padding-bottom: 5%;
}

.btn-space {
    margin-right: 25px;
}

.reach-desc {
    background: url(/reach_white_bg.jpg);
}

.reach-main {
    padding-top: 5%;
}

.reach-gray-text {
    color: #9d9d9d;
    font-size: 15pt;
}

.reach-green-text {
    color: #14cec1;
    font-size: 15pt;
}

.reach-main h1 {
    color: #0e1d48;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30pt;
    letter-spacing: 0em;
}


.btn-main-container {
    padding-top: 5%;
}

body {
    background: url(/reach_background.jpg);
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 14pt;
    line-height: 1.6;
}

.head-content {
    background: url(/reach_background.jpg);
    min-height: 100%;
    margin-bottom: -25px;
}

html,body{
    height: 100%;
    margin: 0;
}

button{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 14pt;
}

@media (min-width: 768px) {
    [role=main],
    .main {
      min-height: 500px;
      background: url(/reach_white_bg.jpg);
    }
  }

.site-footer {
    background: #15cec0;
    color: #ffffff;
    height: 25px;
    min-height: 25px;
}

.push {
    height: 25px;
}


.site-footer, .site-footer label, .site-footer small,
.site-footer a {
    color: #ffffff;
}

.btn-main {
    border-color: #15cec0;
    background-color: #206b8200!important;
    background-image: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;    
}

.btn-primary {
    border-color: #15cec0;
    background-color: #061131;
    background-image: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;    
}